<form
  (ngSubmit)="checkForm()"
  [formGroup]="form"
  #ngForm="ngForm"
  autocomplete="off"
  class="mt-10 mb-10"
>
  <mat-form-field class="mr-10">
    <mat-label>Search products</mat-label>
    <input
      matInput
      type="text"
      [formControlName]="'searchQuery'"
      [placeholder]="'Search products'"
    />
    <button
      mat-button
      matSuffix
      color="primary"
      aria-label="Search products"
      type="submit"
    >
      <mat-icon aria-label="search icon">search</mat-icon>
    </button>
    <mat-error *ngIf="form.invalid">No search terms entered</mat-error>
  </mat-form-field>

  <button
    mat-button
    matSuffix
    color="primary"
    aria-label="Reset search"
    type="button"
    (click)="resetSearch()"
  >
    <mat-icon aria-label="reset icon">undo</mat-icon>
    Reset
  </button>
</form>
