html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// containers max width
.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}
